body{
    background-color: black;
    margin: 0;
    padding: 0;
  }
ul {
    display: flex;
    align-items: center;
}
li {
    margin: 0 20px;
}
a {
  color: white;
  text-decoration: none;
} 
section{
  margin: 5px 3rem;
  padding: 2rem;
}
#main {
    width: 100%;
    height: 30px;
    background-color: white;
  }
#men{
    background-color: gray;
}
.man {
    font-size: 30px;
    color: aliceblue;
    background-color: gray;
}
.pet{
    font-size: 30px; 
    color: aliceblue;
}
.pett{
    font-size: 15px; color: gray;
}
.menu {
  display: grid;
  grid-template-columns: 250px 1fr;
  background-color: gray;
}
.logo{
  text-align: center;
  font-size: medium;
  background-color: rgb(155, 154, 154);
  color: rgba(245, 245, 245, 0.877);
}
table {
  border-collapse: collapse;
  width: 10%;
}
th, td {
  text-align: left;
  padding: 16px;
  color: aliceblue;
  font-size: 20px;
} 
